<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 

th:replace = "~{/layouts/main-layout :: main-fragment (~{this::title}, ~{this::#pageContent})}">

<head>
	<title> Adding Category</title>
</head>
<body>
    <div id = "pageContent" class="page-body">
		<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item">
							<a href="/admin"> <i class="feather icon-home"></i> Trang
								chủ</a>
						</li>
						<li class="breadcrumb-item">
							<a href="/admin/category">Danh mục</a>
						</li>
						<li class="breadcrumb-item"><a href="#!">Thêm mới danh mục</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h2 class="text-uppercase text-center">Thêm mới danh mục</h2>
					</div>
					<div class="card-block">
						<form action="${ action }" th:action="@{/admin/category/add}" th:object="${entity}" method="POST">
							<div class="row">
								<div class="col-md-6 m-auto">
									<div class="form-group">
										<label>Tiêu đề</label>
										<input type="text"
												th:field="*{title}"
												class="form-control" />
									</div>
									<div class="form-group">
										<label>Icon</label>
										<select th:field="*{icon}" class="form-control">
										    <option th:value="'fa fa-laptop'" th:text="'Development'"></option>
										    <option th:value="'fa fa-camera-retro'" th:text="'Photography'"></option>
										    <option th:value="'fa fa-bar-chart'" th:text="'Business'"></option>
										    <option th:value="'fa fa-desktop'" th:text="'IT & Software'"></option>
										    <option th:value="'fa fa-handshake-o'" th:text="'Marketing'"></option>
										    <option th:value="'fa fa-music'" th:text="'Music'"></option>
										    <option th:value="'fa fa-pencil-square-o'" th:text="'Design'"></option>
										    <option th:value="'fa fa-cutlery'" th:text="'Cooking'"></option>							    
										</select>
									</div>
									<div class="form-group mt-3">
										<button type="submit"
												class="btn btn-primary m-b-0">Lưu
											lại</button>
										<a th:href="@{/admin/category}"
												class="btn btn-secondary text-white">Quay
											lại</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>